SERVER_PORT=
LOG_LEVEL=
SPRING_PROFILES_ACTIVE=

KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

KEYCLOAK_URL=
KEYCLOAK_REALM=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=